<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Регистрация</title>
</head>
<body class="w3-display-container" style="width: 100%; height: auto">
<div th:insert="fragments/base::base"></div>
<div class="w3-display-topmiddle w3-card-4 w3-animate-top" style="max-width: 600px; min-width: 30%">
    <header class="w3-container w3-teal">
        <h2>Регистрация</h2>
    </header>
    <form class="w3-container" method="post" th:action="@{/auth}" th:object="${user}">

        <label><b>Логин</b>
            <input class="w3-input w3-border w3-margin-bottom" required th:field="*{login}" type="text"/>
        </label>
        <label><b>Пароль</b>
            <input class="w3-input w3-border w3-margin-bottom" required th:field="*{password}" type="password"/>
        </label>
        <label><b>Подтверждение пароля</b>
            <input class="w3-input w3-border w3-margin-bottom" required th:field="*{passwordConfirm}" type="password"/>
        </label>

        <button class="w3-button w3-block w3-teal w3-section w3-padding" type="submit">Войти</button>
    </form>
</div>
</body>
</html>