<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Фитнес</title>
</head>
<body>
<div th:insert="fragments/base::base"></div>
<div th:if="${entityType == 'Session'}" th:insert="content/session::card"></div>
<div th:if="${entityType == 'Instructor'}" th:insert="content/instructor::card"></div>
<div th:if="${entityType == 'Client'}" th:insert="content/client::card"></div>
<div th:if="${entityType == 'User'}" th:insert="content/user::card"></div>

</body>
</html>